#checkout_modal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#myModalLabel Checkout
  .modal-body
    %div{:style => "padding-right: 10px; margin-right: 10px; border-right: 1px solid #ccc; width: 225px; float:left"}
      %h4 Login
      = simple_form_for :sessions, url: sessions_path, method: 'POST' do |f|
        = f.input :email, input_html: { placeholder: t('placeholder.session.email') }
        = f.input :password
        = f.hidden_field :next_page, value: store_checkout_path(current_store)
        = f.button :submit, t('navigation.login'), class:"btn btn-custom-lighten btn-block"
      = link_to t('account.create'), signup_path(next_page: store_checkout_path(current_store))
    %div{:style => "width: 225px; float:left"}
      %h4 Checkout as Guest
      = link_to 'Continue',                 |
        store_checkout_path(current_store), |
        class: 'btn btn-block'              |
    %div{:style => "clear:both"}
