.cart-overview
  - if current_cart.empty?
    %h5= t('cart.isempty')
    = link_to t('back.home'), root_path
  - else
    %h1#cart-header Your RoboCart
    %hr
    %table.table.table-striped
      %thead
    %tbody
      = render partial: 'cart_item'
    .shopping_cart_summary
      .pull-right
        - if @cart_calculator.discount_applied?
          %h4#cart You saved #{number_to_currency(@cart_calculator.savings)}!!
          %h2#cart Total: #{number_to_currency(@cart_calculator.grand_total)}
          = render partial: 'checkout_button'
        - else
          %h2#cart Total: #{number_to_currency(@cart_calculator.grand_total)}
          %br
          = render partial: 'checkout_button'
      = button_to t('cart.empty'), store_cart_path(current_store), class: 'btn pull-left', method: :delete
      .discount-code
        = render partial: 'discount'
      %br
