.cart-overview
  - if current_cart.empty?
    %h5= t('cart.isempty')
    = link_to t('back.home'), root_path
  - else
    %h1#cart-header Your RoboCart
    %hr
    %table.table.table-striped
      %thead
    %tbody
      = render partial: 'cart_item'

    .shopping_cart_summary
      .pull-right
        %h3#cart-total
          Total: #{number_to_currency(current_cart.total)}
        = render partial: 'checkout_button'
        %br/
      = button_to t('cart.empty'), store_cart_path(current_store), class: 'btn pull-left', method: :delete
      .discount-code
        = render partial: 'discount'

