.span8
  = simple_form_for [ current_store, :admin, @discount ] do |s|
    = s.input :name
    = s.input :amount
    = s.hidden_field :store_id, value: current_store.id
    = s.submit "Create Code", class: "btn btn-custom-lighten span2"


/ = form_for @discount do |f|
  
/   .field
/     = f.label :name
/     = f.text_field :name
/   .field
/     = f.label :amount
/     = f.number_field :amount
/   .actions
/     = f.submit 'Save'
