.admin-order-index
  = render partial: 'shared/admin_navigation', locals: { active: :discounts }
  .span8
  %h1= t 'discounts'
  %hr/
  - @discounts.each do |discount|
    %tr
      %td= discount.name
      %td= discount.amount
      %td= link_to 'Show', store_admin_discount_path(current_store, discount.id)
      %td= link_to 'Edit', edit_store_admin_discount_path(current_store, discount.id)
      %td= link_to 'Destroy', store_admin_discount_path(current_store, discount.id), :method => :delete, :data => { :confirm => 'Are you sure?' }

  %br
  %br
  %br

  = link_to 'New Discount', new_store_admin_discount_path(current_store)

  %br
  %br
