.admin-order-index
  = render partial: 'shared/admin_navigation', locals: { active: :discounts }
  .pull-right.btn-large.btn-custom-lighten
    = link_to 'New Discount', new_store_admin_discount_path(current_store)
  .span8
    %h1= t 'discounts'
    %hr
    %table.table.table-striped
      %thead
        %tr
          %th= 'Name'
          %th= 'Amount'
      %tbody
        = render 'discount'



