.admin-order-show
  = render partial: 'shared/admin_navigation', :locals => { active: false }
  .span8
    %h3= link_to("< Back to Categories", {:action => "index" })
    %h2= @category.title
    %table.table
      %tr
        %th Product Name
        %th Product Description
        %th Product Price
        %th Product Promotion
        .div
          - @cat_products.each do |p|
            %tr
            %td= p.title
            %td= p.description
            %td= p.price
            %td= p.promotion
.pull-right
  =paginate @cat_products
