.admin-dashboard-manage
  = render partial: 'shared/admin_navigation', :locals => { active: nil }
  .span8
    %h1 Edit Store
    %hr/
    = simple_form_for @store, url: store_admin_update_store_path(current_store) do |f|
      = f.input :name
      = f.input :path
      = f.input :description
      = f.input :theme, collection: @themes
      = f.submit class: 'btn check-change'
:javascript
  $('#store_path').change(function() {
    alert('WARNING: Changing the path will result in breaking all existing links.');
  });
