.row
  .prod_detail_img.span6
    = image_tag gen_image_url(@product.id)
  .prod_detail_text.span5
    %h2
      - t('product.title')
      = @product.title
    %hr/
    %p
      - t('product.description')
      = @product.description
    #product-categories
      %b
        = t('categories.self')
        \:
      - @product.categories.each do |category|

        %span.label= link_to category.title, store_home_path(current_store, category_id: category.id), {:style=>'color:#DCDCDC;', :class => "strokeme"} 
    %br/
    -if @product.promotion > 0
      %h4(id="strike-through")
        = t('product.price')
        \: #{number_to_currency(@product.price)}
        %br
      %h3
        = t('product.promo_price')
        \: #{number_to_currency(@product.promo_price)}
      %h5
        = ("You save #{@product.promotion.to_i}% or $#{@product.promotion_savings}")
    -else
      %h4
        = t('product.price')
        \: #{number_to_currency(@product.price)}
    %br/
    - if @product.status == 'active'
      = render partial: 'add_to_cart_button', locals: {product: @product}
      = render partial: 'buy_now_button', locals: {product: @product}
    - else
      %p Product is retired!
